body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

#sidebar {
  height: 100%;
}

#sidebar .sidebar-header h3 {
  display: block;
  font-size: medium;
}

#sidebar .sidebar-header strong {
  display: none;
}

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
  }

  #sidebar .sidebar-header h3 {
    display: none;
  }

  #sidebar .sidebar-header strong {
    display: block;
    font-size: small;
  }
}
