body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/img/bg.webp");
}

.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav { z-index: 2; }

.card:hover {
  transform: scale(1.05);
}

.card {
  transition: transform 0.3s ease-in-out;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  min-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
